<p>호스터 기능</p>
<md-list>
  <md-list-item *ngFor="let item of items | async"
      (click)="onSelect(item)"
  >
    {{item.hoster}}의 {{item.name}}
    <!--{{item.$value}}-->
    <button (click)="delete(item.$key)">x</button>

  </md-list-item>
</md-list>
<div *ngIf="selectedItem">
  <label>주택 업데이트</label><br>
  <label>집 이름</label><input type="text" [(ngModel)]="selectedItem.name"><br>
  <label>호스터</label><input type="text" [(ngModel)]="selectedItem.hoster"><br>
  <label>장소</label><input type="text" [(ngModel)]="selectedItem.place"><br>
  <label>가격</label><input type="text" [(ngModel)]="selectedItem.price"><br>
  <label>lat</label><input type="text" [(ngModel)]="selectedItem.lat"><br>
  <label>lng</label><input type="text" [(ngModel)]="selectedItem.lng">
  <button          (click)="update(selectedItem.$key,
                             selectedItem.name,
                             selectedItem.hoster,
                             selectedItem.lat,
                             selectedItem.lng,
                             selectedItem.place,
                             selectedItem.price)"
  >Update</button>
  <br />
</div>
<br>

<label>주택 추가</label><br>

<input type="text" [(ngModel)]="name" placeholder="house name"><br>
<input type="text" [(ngModel)]="hoster" placeholder="hoster name"><br>
<input type="text" [(ngModel)]="place" placeholder="place"><br>
<input type="text" [(ngModel)]="price" placeholder="price"><br>
<input type="text" [(ngModel)]="lat" placeholder="latitude"><br>
<input type="text" [(ngModel)]="lng" placeholder="lngitude">

<button (click)="newHouse(name, hoster, lat, lng, place, price)">Add</button>
<app-maps></app-maps>
