<form id="filter">
  <label>
    Filter Homes by
    <select [(ngModel)]="opt" name="filterOpt">
      <option value="hoster" selected>
        hoster
      </option>
      <option value="place">
        place
      </option>
    </select>
    <label>: </label>
  </label>
  <input name="filterInput" type="text" [(ngModel)]="term">
</form>

<md-list>
  <md-list-item *ngFor="let house of houses |async| filter:term:opt "
      [routerLink]="['/details', house.$key]"
  >
    {{house.hoster}}의 집
    /장소 : {{house.place}}
    /가격 : {{house.price}}
  </md-list-item>
</md-list>

