<form id="filter">
  <label>
    hoster/place 선택
    <select [(ngModel)]="opt" name="filterOpt">
      <option value="hoster" selected>
        hoster
      </option>
      <option value="place">
        place
      </option>
    </select>
    <label>: </label>
  </label>
  <input name="filterInput" type="text" [(ngModel)]="term" placeholder="검색">
</form>

<div class="row">
  <md-card *ngFor="let house of houses |async| filter:term:opt"
           [routerLink]="['/details', house.$key]"
           class="col-xs-6"
  >
    <div class="row">
    <img [src]="house.imgpath" class="col-xs-12 ">
    </div>
    <md-card-title>
      <h4>{{house.hoster}}의 집</h4>
    </md-card-title>
    <md-card-content>
      <p>장소 : {{house.place}} / 가격 : {{house.price}}</p>
    </md-card-content>
  </md-card>
</div>
