<div *ngIf="house" class="center1">
  <!--<button (click)="onClick(house.imgpath)">click!</button>-->
  <img [src]="house.imgpath" ><!--style="height: 200px"-->
  <h2>{{house.hoster}}의 {{house.name}} details!</h2>
  <p>위치 : {{house.place}}</p>
  <p>가격 : {{house.price}}</p>
  <p>
    위도/경도 : {{house.lat}}/{{house.lng}}
  </p>

  <sebm-google-map [latitude]="house.lat" [longitude]="house.lng" [zoom]="9">
    <sebm-google-map-marker [latitude]="house.lat"
                            [longitude]="house.lng"
                            [title]="house.name"
    ></sebm-google-map-marker>
  </sebm-google-map>
  <div class="row">
    <button class="btn btn-primary" (click)="goBack()">뒤로</button>
    <button class="btn btn-primary" (click)="reservation()" *ngIf="!house.booked">예약</button>
    <button class="btn btn-primary" (click)="reservationCancel()" *ngIf="house.booked&&house.resolver===hoster">예약취소</button>
  </div>
</div>

